@{
    ViewBag.Title = "GitHub User Search";
}

<h2>Search GitHub User</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div>
        @Html.Label("GitHub Username:")
        @Html.TextBox("username", "", new { @class = "form-control" })
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Search</button>
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="text-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
